<h1>New election</h1>
<div class="election-controls">
  <span class="badge badge-secondary badge-normal">
    <svg class="inline-svg" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
    </svg>
    {{userService.getUser()?.name}}
  </span>
  <span class="spacer"></span>
  <button class="btn btn-success" type="button" (click)="save()">Create</button>
</div>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>

<div class="form-group">
  <label for="electionName">Title</label>
  <input type="text" class="form-control" id="electionName" placeholder="Title" [(ngModel)]="election.title">
</div>
<div class="form-group">
  <label for="textDescription">Description</label>
  <textarea id="textDescription" class="election-description form-control" rows="4"
            placeholder="Description" [(ngModel)]="election.description"></textarea>
</div>

<h2>Candidates</h2>
<ul class="cards">
  <li *ngFor="let candidate of election.candidates; let i = index">
    <div class="card-candidate">
      <img class="card-img-top" src="/assets/waves.svg" alt="Election">
      <div class="card-body">
        <div class="form-group">
          <label for="textCandidateName">Name</label>
          <input type="text" class="form-control" id="textCandidateName" placeholder="Name" [(ngModel)]="candidate.name">
        </div>
        <div class="form-group">
          <label for="textCandidateDescription">Description</label>
          <textarea id="textCandidateDescription" class="election-description form-control" rows="4"
                    placeholder="Description" [(ngModel)]="candidate.description"></textarea>
        </div>
        <div class="card-buttons">
          <button class="btn btn-danger" type="button" (click)="removeCandidate(i)">Remove</button>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="card-candidate">
      <button type="button" class="btn-add-candidate" (click)="addCandidate()">
        <svg viewBox="0 0 24 24">
          <path fill="#777" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
        </svg>
        <span>New candidate</span>
      </button>
    </div>
  </li>
  <li class="m-0"></li>
  <li class="m-0"></li>
  <li class="m-0"></li>
</ul>
