<section>
  <h1>Elections</h1>
  <ul class="cards">
    <li *ngFor="let election of elections">
      <div class="card-election">
        <img class="card-img-top" src="/assets/waves.svg" alt="Election">
        <div class="card-body">
          <h5 class="card-title">{{election.title}}</h5>
          <p class="card-text">{{election.description}}</p>
          <a [routerLink]="['/elections/' + election.shareId]" class="btn btn-primary btn-mono">{{election.closed ? 'VIEW RESULTS' : 'VOTE'}}</a>
        </div>
      </div>
    </li>
    <li>
      <div class="card-election">
        <a [routerLink]="['/elections/new']" class="btn-add-election">
          <svg viewBox="0 0 24 24">
            <path fill="#777" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
          </svg>
          <span>New election</span>
        </a>
      </div>
    </li>
  </ul>
</section>

<section>
  <h1>Participations</h1>
  <ul class="cards">
    <li *ngFor="let election of participations">
      <div class="card-election">
        <img class="card-img-top" src="/assets/waves.svg" alt="Election">
        <div class="card-body">
          <h5 class="card-title">{{election.title}}</h5>
          <p class="card-text">{{election.description}}</p>
          <a [routerLink]="['/elections/' + election.shareId]" class="btn btn-primary btn-mono">{{election.closed ? 'VIEW RESULTS' : 'VOTE'}}</a>
        </div>
      </div>
    </li>
  </ul>
</section>
