<h1>{{election?.title}}</h1>
<div class="election-controls">
  <span class="badge badge-normal font-mono"
        [class.badge-success]="!election?.closed"
        [class.badge-danger]="election?.closed">
    {{election?.closed ? 'CLOSED' : 'OPEN'}}
  </span>
  <span class="badge badge-secondary badge-normal ml-2">
    <svg class="inline-svg" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
    </svg>
    {{election?.author}}
  </span>
</div>

<div class="alert alert-primary" role="alert" *ngIf="!pairsAvailable">
  No more pairs available. Thank you for participation!
</div>

<ul class="cards" *ngIf="candidates">
  <li>
    <div class="card-candidate">
      <img class="card-img-top" src="/assets/waves.svg" alt="Election">
      <div class="card-body">
        <h5 class="card-title">{{candidates.leftCandidate.name}}</h5>
        <p class="card-text">{{candidates.leftCandidate.description}}</p>
        <button type="button" class="btn btn-primary font-mono" (click)="vote(true)">VOTE</button>
      </div>
    </div>
  </li>
  <li>
    <div class="card-candidate">
      <img class="card-img-top" src="/assets/waves.svg" alt="Election">
      <div class="card-body">
        <h5 class="card-title">{{candidates.rightCandidate.name}}</h5>
        <p class="card-text">{{candidates.rightCandidate.description}}</p>
        <button type="button" class="btn btn-primary font-mono" (click)="vote(false)">VOTE</button>
      </div>
    </div>
  </li>
</ul>
