.container {
  margin-top: calc(1rem + 56px);
  margin-bottom: 1.5rem;
}

.navbar {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
}

.nav-separator {
  border: rgba(255, 255, 255, 0.4) solid thin;
  height: 100%;
}

.navbar-brand {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}
