<h1>Lorem ipsum dolor sit amet</h1>
<div class="election-controls">
  <span class="badge badge-success badge-normal font-mono">
    OPEN
  </span>
  <span class="badge badge-secondary badge-normal ml-2">
    <svg class="inline-svg" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
    </svg>
    Simmilliar
  </span>
</div>

<ul class="cards">
  <li>
    <div class="card-candidate">
      <img class="card-img-top" src="/assets/waves.svg" alt="Election">
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.</p>
        <a href="#" class="btn btn-primary font-mono">VOTE</a>
      </div>
    </div>
  </li>
  <li>
    <div class="card-candidate">
      <img class="card-img-top" src="/assets/waves.svg" alt="Election">
      <div class="card-body">
        <h5 class="card-title">Ut enim</h5>
        <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</p>
        <a href="#" class="btn btn-primary font-mono">VOTE</a>
      </div>
    </div>
  </li>
</ul>
